.sidebar-container{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 70px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    cursor :pointer;
}
.btn{
    size: 24px;
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #d4ccc6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.25s ease;
    background-color: rgba(244, 187, 146,0.0);
    cursor: pointer;
}
.btn :hover{
    color: white;
}
#btt{
    margin: 4px auto !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}